@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "sidebar" "main";
}

.sidebar{
    background-color: lightblue;
    height: 100vh;
}

.main{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.logo-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin: 30px 40px;
}

.icon-list{
    display: flex;
    flex-direction: column;
}

.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
}

.icon-text p{
    margin-left: 10px;
    font-size: 20px;
}

.icon-list-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: lightgray;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 20px;
}

.welcome{
    display: flex;
    flex-direction: row;
    height: 98px;
    align-items: flex-end;
    justify-content: space-between;
}

.form-input{
    width: 500px;
    height: 22px;
    background-color: lightgray;
    border-radius: 15px;
    border: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 90px;
}

.profile{
    margin: 0 20px;
}

.welcome-left{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.btn{
    color: white;
    background-color: lightblue;
    border-radius: 20px;
    border: 1px solid lightblue;
    height: 30px;
    width: 80px;
}

.welcome-right{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
}

.content{
    display: grid;
    grid-template-columns: 70% 30%;
}

.cards{
    display: grid;
    grid-template-columns: 50% 50%;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 10px;
    width: 80%;
    height: 130px;
    margin: 30px 0;
    margin-left: 20px;
    padding: 20px;
}

.icons{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 40px;
}

.card p{
    font-size: 13px;
    color: rgb(145, 145, 145);
}

.card h4{
    margin-top: 20px;
}

.ann-tren{
    display: grid;
    grid-template-rows: 50% 50%;
}

.ann-card, .tren-card{
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 15px;
}

.ann-text{
    margin: 10px 0;
    padding: 5px 10px;
}

.ann-text p, .text p{
    font-size: 12px;
    color: rgb(145, 145, 145);
}

.divider{
    border: 0.5px solid black;
    width: 80%;
    margin-left: 20px;
}

.image-text{
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

.text{
    margin-left: 20px;
}

.tren-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-text img{
    transform: scale(1.5);
}