@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "sidebar" "main";
}

.sidebar{
    background-color: lightblue;
    height: 100vh;
}

.main{
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 80%;
}

.logo-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin: 30px 40px;
}

.icon-list{
    display: flex;
    flex-direction: column;
}

.icon-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
}

.icon-text p{
    margin-left: 10px;
    font-size: 20px;
}

.icon-list-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.content{
    background-color: lightgray;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px;
}

.welcome{
    display: flex;
    flex-direction: row;
    height: 98px;
    align-items: flex-end;
    justify-content: space-between;
}

.form-input{
    width: 500px;
    height: 22px;
    background-color: lightgray;
    border-radius: 15px;
    border: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 90px;
}

.profile{
    margin: 0 20px;
}

.welcome-left{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.btn{
    color: white;
    background-color: lightblue;
    border-radius: 20px;
    border: 1px solid lightblue;
    height: 30px;
    width: 80px;
}

.welcome-right{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
}

.content{
    display: grid;
    grid-template-columns: 70% 30%;
}